<link rel="stylesheet" href="app.css">

<h1>Home Page!</h1>

<a href="/cars">Check All Cars</a>

<img class="image" src="https://i2.wp.com/electrek.co/wp-content/uploads/sites/3/2018/08/SX3Semi-Family-e1534526883239.jpg?resize=2500%2C0&quality=82&strip=all&ssl=1" alt="tesla model 3">